body{
    background-color:#FDCEDF
}
.anh1{
    border-left-style: dotted;
    border-color:white;
    border-top-style: dotted;
    border-radius: 10px;

}
.y2{
    background-color: #7E60BF;
    border-style: dotted;
    border-radius: 10px;
    border-color: white;
    height: 269.66px;

}
.mota{
    font-family: Nunito;
    margin-left:100px;
}
.y1{
    float:left;
    width: 220px;
}
.t1{
    float:left;
    width: 220px;
}
.t2{
    background-color:#FFF7D1;
    border-style: dotted;
    border-color:white;
    border-radius:10px;
    height:271px;
}
.hl1{
    background-color:white;
    border-style: dotted;
    border-color:white;
    border-radius:10px;
    height:269.66px;
}
.mt1{
    background-color: #FFD09B;
    border-style:dotted;
    border-color: white;
    border-radius:10px;
    height:269.11px;
}
.ng1{
    background-color: #EDDFE0;
    border-style: dotted;
    border-color: white;
    border-radius: 10px;
    height:269.66px;
}
.lua1{
    background-color: #7ED7C1;
    border-style: dotted;
    border-color: white;
    border-radius: 10px;
    height: 370.3px;
}
.ly1{
    background-color: #FFF5CD;
    border-style: dotted;
    border-color: white;
    border-radius: 10px;
    height: 287px;
}